.DS_Store
.config/gtk*
.config/xournalpp
.config/zed
.config/colima/_lima
.config/colima/default/daemon
.config/colima/ssh_config
.config/karabiner/automatic_backups/*
Library/Developer/DeveloperDiskImages
Library/Developer/CoreSimulator
Library/Developer/Xcode/DerivedData
Library/Developer/Xcode/UserData/XcodeCloud
.config/vifm/vifminfo.json
.config/StardewValley
Library/Developer/Xcode/UserData/Previews
